.App {
    padding: 20px;
    text-align: center;
    color: white;
}
.nav {
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    left: 50px;
    right: 50px;
}

